/* Scss Document */

//Typekit
@import url("https://use.typekit.net/syc5cps.css");

/************************* Universal CSS ****************************/

$header: ivypresto-headline, arial, serif;
$body: acumin-pro-wide, sans-serif;

.site-wrapper {
	overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}



//Colors
$white: #FFF;
$dark: #655560;
$lt-accent: #FFF5ED;
$accent: #FFCCB8;
$dk-accent: #A45B5D;

//Backgrounds

.bg-white{
	background-color: $white;
}

.bg-lt{
	background-color: $lt-accent;
}


//Fonts
h1, h2, h3,{
	font-family: $header;
}

p, li, a, button{
	font-family: $body;
	font-weight: 300;
	font-size: 2rem;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
	margin-top: 2rem;
}

h4{
	font-family: $body;
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 3rem;
}

.h3{
	font-size: 3rem;
}

a {
	color: $dk-accent;
}

ul {
    list-style: none;
    padding-left: 0;
}

.bold{
	font-weight: 600;
}

.badge{
	font-size: 1.75rem;
	font-weight: 400;
}

.btn {
	font-weight: 500;
	padding: 20px;
}

.cta {
	background-color: $dk-accent;
	font-size: 2rem;
	color: $white;
	i{
		display: inline-block;
    	vertical-align: middle;
		padding-left: 15px;
		margin-top: -5px;
	}
}

.txt-accent{
	color: $dk-accent;
}

.txt-header{
	font-family: $header;
}


/* PADDING SETTINGS */
.p-std{
	padding: 10%;
}


/*  MARGIN SETTINGS */
.mt-54{
	margin-top: 174px;
}

.mt-34 {
	margin-top: 134px;
}

/* Vertical Heights */
.vh-80{
	height: 80vh!important;
}

.vh-10{
	height: 10vh!important;
}

.vh-5{
	height: 5vh!important;
}



/* Z INDEXES */

.z-2{
	z-index: 2;
}

.z-3{
	z-index: 3;
}


/* IMAGES */

.img-insurance{
	background-image: url('../images/main/insurance.png');
	background-size: cover;
}

/************************* Mobile ****************************/

//Navbar

.img-brand{
	height: auto;
	width: 60px;
	fill: $dk-accent;
	margin: 25px;
}

.navbar{
	background-color: rgba(255,245,237,0.98);
}

.navbar-toggler{
	border: none;
}

.navbar-name{
	font-family: $header;
	font-size: 3.25rem;
	color: $dk-accent;
}

.navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164,91,93,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  	width: 60px;
	height: 60px;
	margin: 25px;
}


.nav-item{
	height: 100px;
}

.nav-link{
	font-size: 2.25rem!important;
}

.nav-link.active{
	font-weight:600;
}

.clean-link{
	text-decoration: none;
}


//Header
.caption{
	font-style: italic;
	font-size: 1.75rem;
}
.help-icon{
	font-size: 2rem;
	padding-right: 10px;
}

.help-table{
	margin-left: 0px;
}

//Cards

.portfolio-card{
	margin-top: 10%;
	border-radius: 0%;
}


.card-img-top{
	border-radius: 0;
}

.bg-cardbadge{
	background-color: $lt-accent;
	color: $dark;
}

.card-footer{
	background-color: $lt-accent;
	height: auto;
	border-top: none;
	font-size: 2.5rem;
	padding: 25px;
}

.footer-cta{
	color: $dk-accent;
	font-size: 2.5rem;
	text-align: left;
	padding-left: 30px;
}

.icon-list{
	width: 30px;
}

.link-icon{
	font-size: 3rem;
	margin-left: 15px;
	display: inline-block;
    vertical-align: middle;
}

//Footer
.footer{
	background-color: $lt-accent;
	padding: 5%;
	li{
		padding: 15px;
		font-weight: 600!important;
		color: $dk-accent;
	}
}

.footer-sticky{
	position: absolute;
	bottom: 0;
	left: 0;
}

#email-link{
	font-weight: 600!important;
}

.mb-200{
	margin-bottom: 200px;
}

//Portfolio Page
//Header
.label{
	color: $dark;
	font-weight: 600;
}

.info{
	color: $dk-accent;
	font-weight: 300;
}


//Body

.port-number{
	color: $dk-accent;
	font-size: 2rem;
	font-weight: 200;
	margin-left: -7%;
}

.pullquote{
	font-family: $header;
	color: $dk-accent;
	font-size: 3.5rem;
	padding: 5%;
}

.quote{
	border: 2px $accent;
	width: 100%;
}

.port-item {
	background-color: $lt-accent;
	font-weight: 200;
	font-size: 2.5rem;
	color: $dk-accent;
	border: 1px solid $dk-accent;
}

//About Page
.skill-item{
	font-family: $body;
	color: $dark;
	font-size: 2.75rem;
	font-weight: 200;
}
.skill-icon{
	font-size: 6rem;
	padding-right: 50px;
	color: $dark;
}
.skill-row{
	height: 150px;
}

.exp-item{
	font-size: 2.5rem;
	font-family: $body;
	border-left: 3px solid $dk-accent;
	height: 150px;
	display: inline-flex;
	line-height: 2rem;
	vertical-align: top;
}

.exp-item-last{
	font-size: 2.5rem;
	font-family: $body;
	height: 150px;
	display: inline-flex;
	line-height: 2rem;
	vertical-align: top;
}

.exp-icon{
	margin-left: -25px;
	font-size: 3rem;
	margin-top: -5px;
	color: $dk-accent;
	margin-right: 30px;
}

.location-txt, .exp-text{
	font-size: 2rem;
	vertical-align: top;
	line-height: 2rem;
}

.location-txt{
	font-style: italic;
	color: $dark;
}

.exp-text{
	padding-right: 30px;
	font-weight: 600;
	font-size: 2.5rem;
}


//Contact Page

.mail-link{
	font-family: $header;
	font-size: 3.5rem;
	color: $dk-accent;
	i{
		font-size: 3rem;
		padding-right: 15px;
	}
}

.icon-link{
	font-size: 2.5rem;
	text-decoration: underline;
}

/************************* Desktop ****************************/
@media (min-width: 992px) { 

//Text Styles

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	margin-top: 2rem;
}

h4{
	font-family: $body;
	font-weight: 600;
	font-size: 1rem;
	line-height: 3rem;
}

p, a{
	font-size: 1rem;
}
	
.badge{
	font-size: .75rem;
	font-weight: 400;
}
	
//Navbar
.img-brand{
	height: auto;
	width: 30px;
	fill: $dk-accent;
	margin: 15px;
}

.navbar-brand{
	padding-left: 20px;
}	
	
.navbar-name{
	font-family: $header;
	font-size: 1.5rem;
	margin: 15px;
	margin-left: 40px;
}

.navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164,91,93,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  	width: 60px;
	height: 60px;
	margin: 25px;
}


.nav-item{
	height: 25px;
	margin-left: 15px;
}

a.nav-link{
	font-size: .85rem!important;
}

.navbar-nav{
	margin-bottom: .5rem;
	margin-right: 40px;
}

.mt-54{
	margin-top: 66px;
}

//Cards
.card-img-top{
	height: 250px;	
} 
	
.card-body{
	height: 175px;
}

.card-footer{
	height: auto;
	padding:  15px;
	padding-left:  0px;
}
	
.footer-cta{
	font-size: 1rem!important;
	.link-icon{
		font-size: 1rem!important;
	}
}
	
//Project Page
	.project-teaser{
		height: 300px; 
	}
	
	.p-std{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	#header-list{
		li{
			font-size: 1rem;
		}
	}
	
	.help-icon, .caption{
		font-size: .85rem;
	}
	
	.port-number{
		margin-left: -3%;
		font-size: 1.5rem;
	}
	
} //End Breakpoint Lg

