/* Scss Document */
@import url("https://use.typekit.net/syc5cps.css");
/************************* Universal CSS ****************************/
.site-wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh; }

.bg-white {
  background-color: #FFF; }

.bg-lt {
  background-color: #FFF5ED; }

h1, h2, h3 {
  font-family: ivypresto-headline, arial, serif; }

p, li, a, button {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 300;
  font-size: 2rem; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem;
  margin-top: 2rem; }

h4 {
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3rem; }

.h3 {
  font-size: 3rem; }

a {
  color: #A45B5D; }

ul {
  list-style: none;
  padding-left: 0; }

.bold {
  font-weight: 600; }

.badge {
  font-size: 1.75rem;
  font-weight: 400; }

.btn {
  font-weight: 500;
  padding: 20px; }

.cta {
  background-color: #A45B5D;
  font-size: 2rem;
  color: #FFF; }
  .cta i {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    margin-top: -5px; }

.txt-accent {
  color: #A45B5D; }

.txt-header {
  font-family: ivypresto-headline, arial, serif; }

/* PADDING SETTINGS */
.p-std {
  padding: 10%; }

/*  MARGIN SETTINGS */
.mt-54 {
  margin-top: 174px; }

.mt-34 {
  margin-top: 134px; }

/* Vertical Heights */
.vh-80 {
  height: 80vh !important; }

.vh-10 {
  height: 10vh !important; }

.vh-5 {
  height: 5vh !important; }

/* Z INDEXES */
.z-2 {
  z-index: 2; }

.z-3 {
  z-index: 3; }

/* IMAGES */
.img-insurance {
  background-image: url("../images/main/insurance.png");
  background-size: cover; }

/************************* Mobile ****************************/
.img-brand {
  height: auto;
  width: 60px;
  fill: #A45B5D;
  margin: 25px; }

.navbar {
  background-color: rgba(255, 245, 237, 0.98); }

.navbar-toggler {
  border: none; }

.navbar-name {
  font-family: ivypresto-headline, arial, serif;
  font-size: 3.25rem;
  color: #A45B5D; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164,91,93,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  width: 60px;
  height: 60px;
  margin: 25px; }

.nav-item {
  height: 100px; }

.nav-link {
  font-size: 2.25rem !important; }

.nav-link.active {
  font-weight: 600; }

.clean-link {
  text-decoration: none; }

.caption {
  font-style: italic;
  font-size: 1.75rem; }

.help-icon {
  font-size: 2rem;
  padding-right: 10px; }

.help-table {
  margin-left: 0px; }

.portfolio-card {
  margin-top: 10%;
  border-radius: 0%; }

.card-img-top {
  border-radius: 0; }

.bg-cardbadge {
  background-color: #FFF5ED;
  color: #655560; }

.card-footer {
  background-color: #FFF5ED;
  height: auto;
  border-top: none;
  font-size: 2.5rem;
  padding: 25px; }

.footer-cta {
  color: #A45B5D;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 30px; }

.icon-list {
  width: 30px; }

.link-icon {
  font-size: 3rem;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle; }

.footer {
  background-color: #FFF5ED;
  padding: 5%; }
  .footer li {
    padding: 15px;
    font-weight: 600 !important;
    color: #A45B5D; }

.footer-sticky {
  position: absolute;
  bottom: 0;
  left: 0; }

#email-link {
  font-weight: 600 !important; }

.mb-200 {
  margin-bottom: 200px; }

.label {
  color: #655560;
  font-weight: 600; }

.info {
  color: #A45B5D;
  font-weight: 300; }

.port-number {
  color: #A45B5D;
  font-size: 2rem;
  font-weight: 200;
  margin-left: -7%; }

.pullquote {
  font-family: ivypresto-headline, arial, serif;
  color: #A45B5D;
  font-size: 3.5rem;
  padding: 5%; }

.quote {
  border: 2px #FFCCB8;
  width: 100%; }

.port-item {
  background-color: #FFF5ED;
  font-weight: 200;
  font-size: 2.5rem;
  color: #A45B5D;
  border: 1px solid #A45B5D; }

.skill-item {
  font-family: acumin-pro-wide, sans-serif;
  color: #655560;
  font-size: 2.75rem;
  font-weight: 200; }

.skill-icon {
  font-size: 6rem;
  padding-right: 50px;
  color: #655560; }

.skill-row {
  height: 150px; }

.exp-item {
  font-size: 2.5rem;
  font-family: acumin-pro-wide, sans-serif;
  border-left: 3px solid #A45B5D;
  height: 150px;
  display: inline-flex;
  line-height: 2rem;
  vertical-align: top; }

.exp-item-last {
  font-size: 2.5rem;
  font-family: acumin-pro-wide, sans-serif;
  height: 150px;
  display: inline-flex;
  line-height: 2rem;
  vertical-align: top; }

.exp-icon {
  margin-left: -25px;
  font-size: 3rem;
  margin-top: -5px;
  color: #A45B5D;
  margin-right: 30px; }

.location-txt, .exp-text {
  font-size: 2rem;
  vertical-align: top;
  line-height: 2rem; }

.location-txt {
  font-style: italic;
  color: #655560; }

.exp-text {
  padding-right: 30px;
  font-weight: 600;
  font-size: 2.5rem; }

.mail-link {
  font-family: ivypresto-headline, arial, serif;
  font-size: 3.5rem;
  color: #A45B5D; }
  .mail-link i {
    font-size: 3rem;
    padding-right: 15px; }

.icon-link {
  font-size: 2.5rem;
  text-decoration: underline; }

/************************* Desktop ****************************/
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 2rem; }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem; }

  h4 {
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 3rem; }

  p, a {
    font-size: 1rem; }

  .badge {
    font-size: .75rem;
    font-weight: 400; }

  .img-brand {
    height: auto;
    width: 30px;
    fill: #A45B5D;
    margin: 15px; }

  .navbar-brand {
    padding-left: 20px; }

  .navbar-name {
    font-family: ivypresto-headline, arial, serif;
    font-size: 1.5rem;
    margin: 15px;
    margin-left: 40px; }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164,91,93,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    width: 60px;
    height: 60px;
    margin: 25px; }

  .nav-item {
    height: 25px;
    margin-left: 15px; }

  a.nav-link {
    font-size: 0.85rem !important; }

  .navbar-nav {
    margin-bottom: .5rem;
    margin-right: 40px; }

  .mt-54 {
    margin-top: 66px; }

  .card-img-top {
    height: 250px; }

  .card-body {
    height: 175px; }

  .card-footer {
    height: auto;
    padding: 15px;
    padding-left: 0px; }

  .footer-cta {
    font-size: 1rem !important; }
    .footer-cta .link-icon {
      font-size: 1rem !important; }

  .project-teaser {
    height: 300px; }

  .p-std {
    padding-top: 5%;
    padding-bottom: 5%; }

  #header-list li {
    font-size: 1rem; }

  .help-icon, .caption {
    font-size: .85rem; }

  .port-number {
    margin-left: -3%;
    font-size: 1.5rem; } }
